.treksTripsSection {
  padding: 4rem 2rem;
  background-color: #fff;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.header {
  margin-bottom: 2rem;
}

.subHeading {
  color: #666;
  font-size: 1rem;
}

.heading {
  color: #556b2f;
  font-size: 2.2rem;
  font-weight: 700;
  margin-top: 0.5rem;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  position: relative;
}

.line {
  position: absolute;
  top: 50%;
  left: 25%;
  right: 25%;
  height: 2px;
  background-color: #ddd;
  z-index: 1;
}

.tabButton {
  background-color: #fff;
  border: 2px solid #ddd;
  color: #666;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 5rem;
  position: relative;
  z-index: 2;
  transition: all 0.3s ease;
}

.tabButton.active {
  background-color: #556b2f;
  color: #fff;
  border-color: #556b2f;
}

/* Animation for the content */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tabContent {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
  text-align: left;
  animation: fadeIn 0.5s ease-in-out; /* Apply the animation here */
}

.imageContainer {
  flex: 1 1 45%;
  padding: 1.5rem;
}

.contentImage {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.textContainer {
  flex: 1 1 55%;
  padding: 2.5rem;
}

.contentTitle {
  font-size: 1.8rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 1rem;
}

.contentDescription {
  color: #666;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.viewAllButton {
  background-color: #556b2f;
  color: #fff;
  padding: 0.8rem 1.8rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.viewAllButton:hover {
  background-color: #445625;
}

@media (max-width: 992px) {
  .textContainer {
    padding: 2rem;
  }
  .contentTitle {
    font-size: 1.6rem;
  }
}

@media (max-width: 768px) {
  .tabContent {
    flex-direction: column;
  }

  .imageContainer,
  .textContainer {
    flex: 1 1 100%;
  }
}

@media (max-width: 480px) {
  .treksTripsSection {
    padding: 2rem 1rem;
  }
  .heading {
    font-size: 1.8rem;
  }
  .tabButton {
    margin: 0 2rem;
  }
  .line {
    left: 15%;
    right: 15%;
  }
}
